
fonts/fonts/XB Kayhan.ttf
fonts/fonts/XB KayhanBd.ttf
fonts/fonts/XB KayhanBdIt.ttf
fonts/fonts/XB KayhanIt.ttf
Assignment1/.main.ptd
Assignment1/main.aux
Assignment1/main.log
Assignment1/main.out
Assignment1/main.synctex
